@using Ebele;
@{
    ViewData["Title"] = "Property Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Properties</h1>
    <p>Our properties will be shown below</p>
       
    @foreach (Property property in Model) 
    {
        <div class="prop">
            <h1>@property.Name</h1>
            <p>@property.Id</p>
            <p>@property.DateAdded</p>
        </div>
    }
    
    <h1>Search for a property by Id:</h1>
    @using (Html.BeginForm("SingleProperty", "Properties", FormMethod.Post))
    {
        <input name="propertyId" value="0" />
        <input type="submit" value="Find Property" />
    }

</div>
