@using Ebele;
@{
    ViewData["Title"] = "Single Property Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Properties</h1>
    <p>Our properties will be shown below</p>

    <ul>
        <li>My property is @Model.Id</li>
        <li>My property is @Model.Name</li>
        <li>My property is @Model.DateAdded</li>
    </ul>

</div>
